.topSpace {
  padding-top: 3em;
}

.placeholder {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  background-image: url(../../../assets/images/undraw_page-not-found_6wni.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.btnLink {
  margin-top: 3em;
  width: 50%;
  margin: auto;
  text-align: center;
  display: block;
}
